
#command-container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#command-container > input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#command-container > button {
    padding: 10px 20px;
    background-color: #2b9c14;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-108%);
}
#command-container :last-child{
    display: block;
    justify-content: left;
    
    transform: translateX(0%);
}

#command-container > p {
    padding: 3vh 3vh;
    text-align: left;
    min-height: 20vh;
    border-radius: 10px;
    border-style: double;
    border-color: white;

    color: green;
    margin-top: 20px;
    font-weight: bold;
    max-height: 500vh;
    overflow-y: scroll;
}
