.color-red{
    color: red;
}
.color-blue{
    color: cornflowerblue;
}
.color-aqua{
    color: #00ebeb;
}
.color-wheat{
    color: #daa84d;
}
.color-yellow{
    color: yellow;
}
.color-lime{
    color: #76ff76;
}
.color-white{
    color: white;
}
.color-orange{
    color: #ff7b00;
}
.color-gray{
    color: #4e4e4e;
}
