/* Page Heading */
#header-title-container{

    background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    
    align-items: center;
    justify-content: center;
    
    height: 300px;
}

pre{
    color: white;
    font-size: large;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    border-style: double;
}
pre >div:first-child{
    padding: 1% 2%;
}

pre >div:last-child{
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    min-height: 40px;
    overflow-x: scroll;
}

div.align-center > div{
    padding: 3vh;
}