<nav>
    <ul>
        <li class="nav-logo">
            <img src="./assets/Images/icons/logos/Flamer works Logo.png" alt="Logo">
        </li>
        <div id="navlinks">
            <li class="nav-link" onclick="navbarlinksRedirectFunc( null, '/')">Home</li>
            <li class="nav-link" onclick="navbarlinksRedirectFunc(1)">About</li>
            <li class="nav-link" onclick="navbarlinksRedirectFunc(2)">Contact</li>
            <li class="nav-link" onclick="navbarlinksRedirectFunc(3)">Services</li>
            <li class="nav-link"> <img src="/assets/Images/icons/menu.png" alt="" onclick=""></li>
        </div>
    </ul>
</nav>