<nav>
    <ul>
        <div id="navbarLeftSide">
            <li id="navbarLogo">
                <img src="./assets/images/icons/logos/Flamer works Logo.png" alt="Logo" onclick="redirect('/')">
                <li id="navbarLogoText"></li>
            </li>
        </div>
        <div id="navbarRightSide">
            <div id="navbarLinks">
                <li class="navbarLink " onclick="redirect('/')"><img src="./assets/images/icons/home_dark.svg" alt="">Home</li>
                <li class="navbarLink redirectbyName"><img src="" alt="">Services</li>
                <li class="navbarLink redirectbyName"><img src="./assets/images/icons/contact_dark.svg" alt="">Contact</li>
            </div>
            <div id="navbarMenuButtonContainer">
                <li class="navbarLink" id="navbarMenuButton"> <img src="./assets/images/icons/menu.png" alt=""></li>
            </div>
        </div>
    </ul>
    <!-- Menu -->
    <div id="navbarMenu" class="displaynone">
        <div id="navbarMenuMain">
            <h4>More Pages</h4>
            <ul class="navbarMenuLinks">
                <li class="navbarMenuLink redirectbyName">Experiments</li>
                <li class="navbarMenuLink redirectbyName">JavaScript Notes</li>
                <li class="navbarMenuLink redirectbyName">HTML Notes</li>
            </ul>
            <h4>Tools</h4>
            <ul class="navbarMenuLinks">
                <li class="navbarMenuLink redirectbyName">Alarm</li>
                <li class="navbarMenuLink redirectbyName">Data</li>
                <li class="navbarMenuLink redirectbyName">Gradient Generator</li>
                <li class="navbarMenuLink redirectbyName">PDF Merger</li>
                <li class="navbarMenuLink redirectbyName">Password Generator</li>
            </ul>
        </div>
        <div id="navbarMenuBottom">
            <ul class="navbarMenuSocialLinks">
                <li><img src="./assets/images/icons/logos/github_icon.png" alt="" onclick="redirect('https:\/\/github.com/FlytoTheSpace/my-server')"></li>
                <li><img src="./assets/images/icons/logos/youtube_icon.png" alt="" onclick="redirect('https:\/\/www.youtube.com/@flytothespace')"></li>
                <li><img src="./assets/images/icons/logos/discord_icon.png" alt="" onclick="redirect('https:\/\/discord.gg/MWXZuA5p6t')"></li>
                <li style="background: #2b2b2b;"><img src="./assets/images/icons/dark_mode.png" alt="" id="themeSwitchButton"></li>
            </ul>
        </div>
    </div>
</nav>