    <link rel="icon" href="./assets/images/icons/logos/github_icon.png">
    <link rel="stylesheet" id="prefenceTheme" href="./assets/templates/css/darktheme.css"> <!-- theme -->
    <link rel="stylesheet" href="./assets/templates/css/navbar.css"> <!-- navbar -->
    <link rel="stylesheet" href="./assets/templates/css/footer.css"> <!-- footer -->
    <link rel="stylesheet" href="./assets/templates/css/pagesetup.css"> <!-- page Setup -->
    <link rel="stylesheet" href="./assets/templates/presets/alignments.css">
    <link rel="stylesheet" href="./assets/templates/presets/textcolors.css">
    <link rel="stylesheet" href="./assets/templates/presets/buttons.css">
    <link rel="stylesheet" href="./assets/templates/presets/containers.css">