body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(255, 255, 255);
    border-color: black;
}
header > nav{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, white 85%,rgba(128, 128, 128, 0.438));
    color: black;
    
}
#NavbarMenu{
    color: white;
}
.nav-link{
    color: #21AD84;
}
.nav-logo > img{
    background-color: darkslategray;
}
#NavbarMenuButtonContainer{
    background-color: #21AD84;
}
div.playground {
    background-color: #a3bec96e;
}