header{
    padding-top: 17vh;
}

header > nav {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #242424;
    height: 17vh;
    width: 100%;
}

nav > ul {
    display: flex;
    align-items: center;
}

/* Navbar Logo */

.nav-logo {
    padding: 1vh 1vw;
    list-style: none;
}

.nav-logo > img{
    padding: 1vh 1vw;
    height: 12vh;
    border-style: solid;
    border-width: .5vh;
    border-color: #464646;
    border-radius: 1em;
}

.nav-logo > img:hover{
    border-color: #ffffff;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}



#nav-logo-text{
    font-size: 3vh;
    padding-left: 0;
}

/* Links Container */
#navlinks {

    width: 100%;
    justify-content: end;
    display: flex;
}
/* Links */

.nav-link{
    font-size: 3.3vh;
    font-family: sans-serif;

    list-style: none;
    align-items: left;
    justify-content: center;

    padding: 3vh 1vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover{
    color: orange;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
/* Menu */
.nav-link > img {
    cursor: pointer;
}