header {
    padding-top: 19vh;
}

header>nav {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 18vh;
    min-width: 100%;
}

nav>ul,nav>ul *{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar Logo */

#navbarLogo{
    padding: 1vh 1vw;
    list-style: none;
}

#navbarLogo>img {
    padding: 1vh 1vw;
    height: 12vh;
    border-style: solid;
    border-width: .5vh;
    border-color: #464646;
    border-radius: 1em;
}

#navbarLogo>img:hover {
    border-color: #ffffff;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}



#navbarLogotext {
    font-size: 3vh;
    padding-left: 0;
}

#navbarRightSide{
    height: 100%;
    justify-self: right;
}


/* Links */

.navbarLink{
    font-size: 3.3vh;
    font-family: sans-serif;

    list-style: none;
    align-items: left;
    justify-content: center;

    padding: 0 1vw;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.navbarLink:hover{
    transition: all 0.2s ease-in;
}

/* Menu */
#navbarMenuButtonContainer {
    justify-content: end;
    align-items: center;
    display: flex;
    height: 100%;
}

#navbarMenuButton>img {
    cursor: pointer;
    justify-content: end;
    display: flex;
}

#navbarMenu {
    background-color: rgba(77, 77, 77, 0.589);
    height: 70vh;
    width: 20vw;
    position: fixed;
    top: 11vh;
    right: 1vw;

    padding: 1vw;

    border: 0.4vh solid transparent;
    border-radius: 2vh;
    border-image-slice: 2;
    transition: all 1s ease-in;
}

#navbarMenuMain {
    height: 85%;
    display: flex;
    flex-direction: column;
}

#navbarMenu * {
    margin: 0.5vh;
}

.navbarMenuLinks {
    list-style: circle;
    list-style-position: inside;
}

.navbarMenuLinks>li {
    padding: 0.5vh;
    background-color: #ffffff57;
    cursor: pointer;
    border: 0.4vh solid transparent;
    border-radius: 2vh;
    padding-left: 1vw;
    font-weight: bold;
}

#navbarMenuBottom {
    height: 15%;
}

.navbarMenuSocialLinks {
    list-style: none;
    display: flex;
}

.navbarMenuSocialLinks>li {
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    border-radius: 10vw;
    align-items: center;
    justify-content: center;
    display: inherit;
}

.navbarMenuSocialLinks>li>img {
    cursor: pointer;
    max-width: 2vw;
    max-height: 2vw;
    /* padding: 0.25vw; */
}

.displaynone {
    display: none;
}

@media screen and (max-width: 1100px) {
    #navbarMenu {
        width: 30vw;
    }

    .navbarMenuSocialLinks>li {
        width: 4vh;
        height: 4vh;
    }

    .navbarMenuSocialLinks>li>img {
        max-width: 3vh;
        max-height: 3vh;
    }
}

@media screen and (max-width: 800px) {
    #navbarMenu {
        width: 50vw;
    }

    .navbarMenuSocialLinks>li {
        width: 6vh;
        height: 6vh;
    }

    .navbarMenuSocialLinks>li>img {
        max-width: 4vh;
        max-height: 4vh;
    }
}

@media screen and (max-width: 600px) {
    #navbarRightSide{
        width: 100%;
    }
    #navbarMenu {
        width: 70vw;
        top: 16vh;
    }
    #navbarMenuButtonContainer{
        align-self: flex-end;
    }
    

    .navbarMenuSocialLinks>li {
        width: 8vh;
        height: 8vh;
    }
    .navbarMenuSocialLinks>li>img {
        max-width: 6vh;
        max-height: 6vh;
    }
    #navbarLogo>img{
        height: 5vh;
    }
    nav>ul{
        flex-direction: column;
    }
}