header{
    padding-top: 17vh;
}

header > nav {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #242424;
    height: 17vh;
    width: 100%;
}

nav > ul {
    display: flex;
    align-items: center;
}

/* Navbar Logo */

.nav-logo {
    padding: 1vh 1vw;
    list-style: none;
}

.nav-logo > img{
    padding: 1vh 1vw;
    height: 12vh;
    border-style: solid;
    border-width: .5vh;
    border-color: #464646;
    border-radius: 1em;
}

.nav-logo > img:hover{
    border-color: #ffffff;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}



#nav-logo-text{
    font-size: 3vh;
    padding-left: 0;
}

/* Links Container */
#rightSideNavbar, #navlinks {

    width: 100%;
    justify-content: end;
    display: flex;
}
/* Links */

.nav-link{
    font-size: 3.3vh;
    font-family: sans-serif;

    list-style: none;
    align-items: left;
    justify-content: center;

    padding: 3vh 1vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover{
    color: orange;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

/* Menu */
#NavbarMenuButtonContainer{
    justify-content: end;
    display: flex;
}
#NavbarMenuButton > img {
    cursor: pointer;
    justify-content: end;
    display: flex;
}

#NavbarMenu{
    background-color: rgba(77, 77, 77, 0.589);
    height: 70vh;
    width: 20vw;
    position: fixed;
    top: 11vh;
    right: 1vw;
    
    padding: 1vw;

    border: 0.4vh solid transparent;
    border-radius: 2vh;
    border-image-slice: 2;
    transition: 0.5s ease-in;   
    
}
#NavbarMenuMain{
    height: 85%;
}
#NavbarMenu *{
    margin: 0.5vh;
}
.extraNavMenuLinks{
    list-style: circle;
    list-style-position: inside;
}
.extraNavMenuLinks > li{
    padding: 0.5vh;
    background-color: #ffffff57;
    cursor: pointer;
    border: 0.4vh solid transparent;
    border-radius: 2vh;
    padding-left: 1vw;
    font-weight: bold;
}
#NavbarMenuBottom{
    height: 15%;
}
.NavMenuSocialLinks{
    list-style: none;
    display: flex;
}
.NavMenuSocialLinks > li{
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    border-radius: 10vw;
    align-items: center;
    justify-content: center;
    display: inherit;
}
.NavMenuSocialLinks > li > img{
    cursor: pointer;
    max-width: 2vw;
    max-height: 2vw;
    /* padding: 0.25vw; */
}

.displaynone{
    display: none;
}