main {
    background: url('/assets/images/backgrounds/neon_city.jpg') top fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer {
    margin: 10vh;
    border-radius: 5vh;
    background: linear-gradient(16deg, #3d3d3d 60%, transparent);
}

button:focus {
    outline: none;
}

#MusicList {
    display: flex;
    flex-direction: column;
    align-items: start;

    list-style: none;
    background: inherit;
    min-height: 50vh;
    overflow: visible;
}

#MusicList>li {
    height: 7vh;
    background: linear-gradient(3deg, #983aff5c, #4d4d4d, #41fff640);
    width: 80%;
    margin: 1vh 1vh;
    border-radius: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vh;
    border: 0.1em solid white;
    overflow: hidden;
}

#MusicList>li>img {
    height: 5.5vh;
    width: 5.5vh;
    border: 0vh solid transparent;
    border-radius: 10vh;
}

p.title {
    font-family: 'Roboto', sans-serif;
    max-width: 70%;
}

.SongItemPlayBtn {
    border-radius: 10vh;
    display: inline;
    width: 1.3em;
}

#musicControlsPanel {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 25vh;
    width: 100%;
    background: linear-gradient(3deg, #383838, #983aff5c);
}
#musicControlsPanel > div{
    height: 100%;
    width: 25%;
    border: solid 3px black;
}
#mainControls {
    width: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#mainControls > *{
    border: 2px solid black;
}
.center{
    justify-self: center;
    align-self: center;
}
#progressBar{
    width: 80%;
    
}

footer {
    margin-bottom: 25vh;
}