<br>
<div id="footer">
    <div id="footer-logo-container">
        <a href=""><img src="/assets/images/icons/logos/Flamer works Logo.png" alt=""></a>
    </div>
    <div class="verticle-footer-row">
        <ul>
            <li class="verticle-footer-row-heading">Lorem</li>
            <li><a href="">ipsum</a></li>
            <li><a href="">dolor</a></li>
            <li><a href="">sit</a></li>
            <li><a href="">amet</a></li>
        </ul>
    </div>
    <div class="verticle-footer-row">
        <ul>
            <li class="verticle-footer-row-heading">consectetur</li>
            <li><a href="">adipisicing</a></li>
            <li><a href="">elit</a></li>
            <li><a href="">Odio</a></li>
            <li><a href="">dolorem</a></li>
        </ul>
    </div>
    <div></div>
</div>